/* open-sans-300 - cyrillic_cyrillic-ext_vietnamese_latin-ext_greek-ext_latin_greek */

@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 300;
  src: url(/fonts/vendor/open-sans-all/open-sans-300.eot?357d675366cce0fbb6ca5e1474ae489c);
  /* IE9 Compat Modes */
  src: local("Open Sans Light"), local("OpenSans-Light"), url(/fonts/vendor/open-sans-all/open-sans-300.eot?357d675366cce0fbb6ca5e1474ae489c) format("embedded-opentype"), url(/fonts/vendor/open-sans-all/open-sans-300.woff2?ea284cc760cad1896d4c917f1e546210) format("woff2"), url(/fonts/vendor/open-sans-all/open-sans-300.woff?3b3cbaef084e27f7fa05d9fe31afb287) format("woff"), url(/fonts/vendor/open-sans-all/open-sans-300.ttf?1bf71be111189e76987a4bb9b3115cb7) format("truetype"), url(/fonts/vendor/open-sans-all/open-sans-300.svg?41ef8e5d0ac53654511397e6f165eb0f) format("svg");
  /* Legacy iOS */
}

/* open-sans-300italic - cyrillic_cyrillic-ext_vietnamese_latin-ext_greek-ext_latin_greek */

@font-face {
  font-family: "Open Sans";
  font-style: italic;
  font-weight: 300;
  src: url(/fonts/vendor/open-sans-all/open-sans-300italic.eot?9a599f54797d2ae5a61a3243b4e816fb);
  /* IE9 Compat Modes */
  src: local("Open Sans Light Italic"), local("OpenSansLight-Italic"), url(/fonts/vendor/open-sans-all/open-sans-300italic.eot?9a599f54797d2ae5a61a3243b4e816fb) format("embedded-opentype"), url(/fonts/vendor/open-sans-all/open-sans-300italic.woff2?3ea4cffdf67ebf2ad373fb96b903065d) format("woff2"), url(/fonts/vendor/open-sans-all/open-sans-300italic.woff?9c9017a313819aa54e959ffe8e7d27ea) format("woff"), url(/fonts/vendor/open-sans-all/open-sans-300italic.ttf?6943fb6fd4200f3d073469325c6acdc9) format("truetype"), url(/fonts/vendor/open-sans-all/open-sans-300italic.svg?b348357e35677da79b5ca21270e2633d) format("svg");
  /* Legacy iOS */
}

/* open-sans-regular - cyrillic_cyrillic-ext_vietnamese_latin-ext_greek-ext_latin_greek */

@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  src: url(/fonts/vendor/open-sans-all/open-sans-regular.eot?98255d04bb0ce821171ea055fdfcc53f);
  /* IE9 Compat Modes */
  src: local("Open Sans"), local("OpenSans"), url(/fonts/vendor/open-sans-all/open-sans-regular.eot?98255d04bb0ce821171ea055fdfcc53f) format("embedded-opentype"), url(/fonts/vendor/open-sans-all/open-sans-regular.woff2?6fd1f924cd0bea5d5f74a1365e12184d) format("woff2"), url(/fonts/vendor/open-sans-all/open-sans-regular.woff?60bdb28dc8230486c5b0e868c82fb5dc) format("woff"), url(/fonts/vendor/open-sans-all/open-sans-regular.ttf?629a55a7e793da068dc580d184cc0e31) format("truetype"), url(/fonts/vendor/open-sans-all/open-sans-regular.svg?d9bee607e42329e3ae452342fd8500fb) format("svg");
  /* Legacy iOS */
}

/* open-sans-italic - cyrillic_cyrillic-ext_vietnamese_latin-ext_greek-ext_latin_greek */

@font-face {
  font-family: "Open Sans";
  font-style: italic;
  font-weight: 400;
  src: url(/fonts/vendor/open-sans-all/open-sans-italic.eot?b07fc5b16bb5ecf336f31a8e993c9865);
  /* IE9 Compat Modes */
  src: local("Open Sans Italic"), local("OpenSans-Italic"), url(/fonts/vendor/open-sans-all/open-sans-italic.eot?b07fc5b16bb5ecf336f31a8e993c9865) format("embedded-opentype"), url(/fonts/vendor/open-sans-all/open-sans-italic.woff2?f01a4402103c9ef9350607c0f739b49d) format("woff2"), url(/fonts/vendor/open-sans-all/open-sans-italic.woff?7aee35e0d937a1fa3456645603d200e6) format("woff"), url(/fonts/vendor/open-sans-all/open-sans-italic.ttf?c7dcce084c445260a266f92db56f5517) format("truetype"), url(/fonts/vendor/open-sans-all/open-sans-italic.svg?3e2b2e91221492e315c4e7970065a287) format("svg");
  /* Legacy iOS */
}

/* open-sans-600 - cyrillic_cyrillic-ext_vietnamese_latin-ext_greek-ext_latin_greek */

@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 600;
  src: url(/fonts/vendor/open-sans-all/open-sans-600.eot?ce26ce4629f1e78f666544143a88c286);
  /* IE9 Compat Modes */
  src: local("Open Sans Semibold"), local("OpenSans-Semibold"), url(/fonts/vendor/open-sans-all/open-sans-600.eot?ce26ce4629f1e78f666544143a88c286) format("embedded-opentype"), url(/fonts/vendor/open-sans-all/open-sans-600.woff2?aa22ff6fd92ecdf402f09a8180354751) format("woff2"), url(/fonts/vendor/open-sans-all/open-sans-600.woff?2418db91905ed032bf3a30ee72dd6a1a) format("woff"), url(/fonts/vendor/open-sans-all/open-sans-600.ttf?33f225b8f5f7d6b34a0926f58f96c1e9) format("truetype"), url(/fonts/vendor/open-sans-all/open-sans-600.svg?400ab808e8b3ba053d41d8dc72ea3aff) format("svg");
  /* Legacy iOS */
}

/* open-sans-600italic - cyrillic_cyrillic-ext_vietnamese_latin-ext_greek-ext_latin_greek */

@font-face {
  font-family: "Open Sans";
  font-style: italic;
  font-weight: 600;
  src: url(/fonts/vendor/open-sans-all/open-sans-600italic.eot?ca4e3b468e0d24ae948b162e83fc225d);
  /* IE9 Compat Modes */
  src: local("Open Sans Semibold Italic"), local("OpenSans-SemiboldItalic"), url(/fonts/vendor/open-sans-all/open-sans-600italic.eot?ca4e3b468e0d24ae948b162e83fc225d) format("embedded-opentype"), url(/fonts/vendor/open-sans-all/open-sans-600italic.woff2?ca4d226c2c041ce9d9e946e7f7eb297e) format("woff2"), url(/fonts/vendor/open-sans-all/open-sans-600italic.woff?cc62fb5c139ff4ec74ef7b3474dcc7f2) format("woff"), url(/fonts/vendor/open-sans-all/open-sans-600italic.ttf?73f7301a9cd7a086295401eefe0c998f) format("truetype"), url(/fonts/vendor/open-sans-all/open-sans-600italic.svg?7350876ed9eaf44d9555c8d5674d2790) format("svg");
  /* Legacy iOS */
}

/* open-sans-700 - cyrillic_cyrillic-ext_vietnamese_latin-ext_greek-ext_latin_greek */

@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 700;
  src: url(/fonts/vendor/open-sans-all/open-sans-700.eot?60449ee63020f7a26f19a5454ee34c47);
  /* IE9 Compat Modes */
  src: local("Open Sans Bold"), local("OpenSans-Bold"), url(/fonts/vendor/open-sans-all/open-sans-700.eot?60449ee63020f7a26f19a5454ee34c47) format("embedded-opentype"), url(/fonts/vendor/open-sans-all/open-sans-700.woff2?7a1d4327518eab8c5600f4fdc520efcd) format("woff2"), url(/fonts/vendor/open-sans-all/open-sans-700.woff?0d8fa9d9810a6543e922ee3d90abac25) format("woff"), url(/fonts/vendor/open-sans-all/open-sans-700.ttf?50145685042b4df07a1fd19957275b81) format("truetype"), url(/fonts/vendor/open-sans-all/open-sans-700.svg?99c9f24dd717e50a36d02452c1b33c56) format("svg");
  /* Legacy iOS */
}

/* open-sans-700italic - cyrillic_cyrillic-ext_vietnamese_latin-ext_greek-ext_latin_greek */

@font-face {
  font-family: "Open Sans";
  font-style: italic;
  font-weight: 700;
  src: url(/fonts/vendor/open-sans-all/open-sans-700italic.eot?d09461e773d7a194502246db31c3c1df);
  /* IE9 Compat Modes */
  src: local("Open Sans Bold Italic"), local("OpenSans-BoldItalic"), url(/fonts/vendor/open-sans-all/open-sans-700italic.eot?d09461e773d7a194502246db31c3c1df) format("embedded-opentype"), url(/fonts/vendor/open-sans-all/open-sans-700italic.woff2?fba8b2a7052485cec44b825aaeb05d71) format("woff2"), url(/fonts/vendor/open-sans-all/open-sans-700italic.woff?8642dbfe531a38f6ab836f629ff93485) format("woff"), url(/fonts/vendor/open-sans-all/open-sans-700italic.ttf?78b08a68d05d5fabb0b8effd51bf6ade) format("truetype"), url(/fonts/vendor/open-sans-all/open-sans-700italic.svg?04b273bca14cbdba6b0bf4d721d16ead) format("svg");
  /* Legacy iOS */
}

/* open-sans-800 - cyrillic_cyrillic-ext_vietnamese_latin-ext_greek-ext_latin_greek */

@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 800;
  src: url(/fonts/vendor/open-sans-all/open-sans-800.eot?2291980bac6d45447c902cfa41da6314);
  /* IE9 Compat Modes */
  src: local("Open Sans Extrabold"), local("OpenSans-Extrabold"), url(/fonts/vendor/open-sans-all/open-sans-800.eot?2291980bac6d45447c902cfa41da6314) format("embedded-opentype"), url(/fonts/vendor/open-sans-all/open-sans-800.woff2?b91b03551cbc5aec3c2970794722f055) format("woff2"), url(/fonts/vendor/open-sans-all/open-sans-800.woff?b40092f742715ad203dbbfaa37602688) format("woff"), url(/fonts/vendor/open-sans-all/open-sans-800.ttf?8bac22ed4fd7c8a30536be18e2984f84) format("truetype"), url(/fonts/vendor/open-sans-all/open-sans-800.svg?c13d9e6d9d5e10ed78910f16eb619c61) format("svg");
  /* Legacy iOS */
}

/* open-sans-800italic - cyrillic_cyrillic-ext_vietnamese_latin-ext_greek-ext_latin_greek */

@font-face {
  font-family: "Open Sans";
  font-style: italic;
  font-weight: 800;
  src: url(/fonts/vendor/open-sans-all/open-sans-800italic.eot?957287ebc80dcf9381c25b1c0d0ae51e);
  /* IE9 Compat Modes */
  src: local("Open Sans Extrabold Italic"), local("OpenSans-ExtraboldItalic"), url(/fonts/vendor/open-sans-all/open-sans-800italic.eot?957287ebc80dcf9381c25b1c0d0ae51e) format("embedded-opentype"), url(/fonts/vendor/open-sans-all/open-sans-800italic.woff2?7789cb285e0fdd866795f0fb8f19264f) format("woff2"), url(/fonts/vendor/open-sans-all/open-sans-800italic.woff?51c4ab203f9003ce49cc9e66b05c4968) format("woff"), url(/fonts/vendor/open-sans-all/open-sans-800italic.ttf?73d6bb0d4f596a91992e6be32e82e3bc) format("truetype"), url(/fonts/vendor/open-sans-all/open-sans-800italic.svg?6be75e80b3b60ec7e673921a73771514) format("svg");
  /* Legacy iOS */
}

