
.carousel-control[data-v-4b3c25c2] {
    padding: 1rem;
    color: #ffffff;
    opacity: 0.85;
}
@media (min-width: 744px) {
.carousel-control[data-v-4b3c25c2]{
        font-size: 3rem;
}
}

.image-carousel[data-v-f05acc00] {
    height: 100%;
    margin-top:  -12vh;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}
.image-carousel .controls[data-v-f05acc00] {
    position: absolute;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

#modal {
    display: none;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 2000;
    background-color: rgba(0,0,0,0.85);
}
#modal.show {
    display: block;
}
.modal-content {
    height: 100%;
    max-width: 105vh;
    padding-top: 12vh;
    margin: 0 auto;
    position: relative;
}
.modal-content img {
    max-width: 100%;
}
body.modal-open {
    overflow: hidden;
    position: fixed;
}
.modal-close {
    cursor: pointer;
    position: absolute;
    right: 0;
    top: 0;
    padding: 0px 28px 8px;
    font-size: 4em;
    width: auto;
    height: auto;
    background: transparent;
    border: 0;
    outline: none;
    color: #ffffff;
    z-index: 1000;
    font-weight: 100;
    line-height: 1;
}
.modal-content {
    width: 100%;
    max-width: 105vh;
    padding-top: 12vh;
    margin: 0 auto;
    position: relative;
}

