<template>
    <i v-bind:class="classes" v-on:click="clicked"></i>
</template>

<script>
    export default {
        props: ['dir'],
        methods: {
            clicked() {
                this.$emit('change-image', this.dir === 'left' ? -1 : 1)
            }
        },
        computed: {
            classes() {
                return 'carousel-control fa fa-2x fa-chevron-'+this.dir;
            }
        }
    }
</script>

<style scoped>
    .carousel-control {
        padding: 1rem;
        color: #ffffff;
        opacity: 0.85;
    }

    @media (min-width: 744px) {
        .carousel-control{
            font-size: 3rem;
        }
    }
</style>
