<template>
    <div class="image-carousel">
        <img v-bind:src="image"/>
        <div class="controls">
            <carousel-control v-on:change-image="changeImage" dir="left"></carousel-control>
            <carousel-control v-on:change-image="changeImage" dir="right"></carousel-control>
        </div>
    </div>
</template>

<script>
    import CarouselControl from '../components/CarouselControl'
    export default {
        data(){
            return {
                index: 3
            }
        },
        computed: {
            image(){
                return this.images[this.index];
            }
        },
        methods: {
            changeImage: function (val) {
                let newVal = this.index + val;
                if(newVal < 0) {
                    this.index = this.images.length - 1;
                } else if (newVal === this.images.length) {
                    this.index = 0;
                } else {
                    this.index = newVal;
                }
            }
        },
        components: {
            CarouselControl
        },
        props: ['images'],
    }
</script>

<style scoped>

    .image-carousel {
        height: 100%;
        margin-top:  -12vh;
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .image-carousel .controls {
        position: absolute;
        width: 100%;
        display: flex;
        justify-content: space-between;
    }
</style>
